.wrapper{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px; */
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.80);
}

.wrapper .left{
    width: 35%;
    /* background: linear-gradient(to right, #01a9ac, #01dbdf); */
    background-color: #FF7C57;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}
.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
}

.wrapper .left h4{
    margin-bottom: 10px;
}

.wrapper .left p{
    font-size: 12px;
}

.wrapper .right{
    width: 65%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}

.wrapper .right .info,
.wrapper .right .project{
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .project h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .project_data{
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .project_data .data{
    width: 25%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .project_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .project_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

.wrapper .socialmedia ul{
    display: flex;
}

.wrapper .socialmedia ul li{
    width: 35px;
    height: 35px;
    
    margin-right: 15px;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
}

.wrapper .socialmedia ul li a{
    color: black;
    display: block;
    font-size: 18px;
}

.project-tab {
    /* padding: 10%; */
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.btn.btn-rose {
    background-color: #e91e63;
    color: #fff;
}

a {
    color: #363636;
}
.btn {
    background: transparent;
    margin: 3px;
    border: 1px solid #eaeaea;
    border-radius: 0px;
}
.btn:hover {
    background: #eaeaea;
    color: black;
}

/* //card */
.tours {
  display: flex;
  padding: 0;
  flex-flow: row wrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
}
.tours > .tourcard {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  flex: 0 1 360px;
  margin: 15px;
  padding: 0;
}
.tours > .tourcard:hover {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
  cursor: pointer;
}
.tours > .tourcard figure {
    margin: 0;
    padding: 0;
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100%;
}
.tourpic {
  background: #444;
  position: relative;
}
.tourbtn {
    margin: 0;
    padding: 0;
}
.tourbtn:after {
    clear: both;
}
.tours > .tourcard figure .tourpic img {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;    
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: .50;
}
.tours > .tourcard:hover figure .tourpic img {
    opacity: 0.9;
}
.tours > .tourcard figure .tourpic .tourcat {
  color: #fff;
  font-size: .8em;
  padding: 3px 5px;
  position: absolute;
  right: 15px;
  text-transform: uppercase;
  bottom: 15px;
}
.tours>.tourcard figure .tourpic .tourday {
  text-transform: uppercase;
  color: #fff;
  font-size: .8em;
  position: absolute;
  left: 15px;
  bottom: 15px;
  padding: 3px 5px;
}
.tours > .tourcard figure .tourpic .tourday.hot {
  background: #000;
  background: red;
  background: -webkit-linear-gradient(0deg,red,orange);
  background: linear-gradient(90deg,red,orange);
  background-size: 200% 200%;
  -webkit-animation: hot 10s ease infinite;
  -moz-animation: hot 10s ease infinite;
  -o-animation: hot 10s ease infinite;
  animation: hot 10s ease infinite;
}
.tours > .tourcard figure .tourbtn {
  background: transparent;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-content: center;
}
.tours > .tourcard figure .tourbtn a {
  flex: 1;
}
.tours > .tourcard figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  margin: 0 0 30px;
  display: flex;
  flex-flow: column nowrap;
  color: white;
}
figcaption h3 a {
    text-decoration: none;
    color: white;
}
.description {
    opacity: 0;
    display: none;
}
.tourprice {
    opacity: 0;
    display: none;
    font-size: .8em;
}
.currency {
    font-weight: 300;
}
.price {
    font-size: 2em;
    font-weight: 300;
}
.tourcard:hover figure figcaption .description,
.tourcard:hover figure figcaption .tourprice {
    display: block;
    opacity: 1;
}